# SONAR Prediction of  ROCK v/s MINES

## Steps Taken
### 1.Importing useful libraries
### 2.Collection of Data
### 3.Data Preprocessing
### 4.Split the data into Test Data and Train Data
### 5.Make Trained  ML Models
### 6.Feed Test Data into our Trained ML Models to predict

## 1.Importing the Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## 2.Data Collection

In [2]:
df=pd.read_csv('sonar data.csv')
df.head()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
0,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
1,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
2,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
3,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R
4,0.0286,0.0453,0.0277,0.0174,0.0384,0.0990,0.1201,0.1833,0.2105,0.3039,...,0.0045,0.0014,0.0038,0.0013,0.0089,0.0057,0.0027,0.0051,0.0062,R

In [3]:
df.head()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
0,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
1,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
2,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
3,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R
4,0.0286,0.0453,0.0277,0.0174,0.0384,0.0990,0.1201,0.1833,0.2105,0.3039,...,0.0045,0.0014,0.0038,0.0013,0.0089,0.0057,0.0027,0.0051,0.0062,R

#### Since the datafile doesn't contain data we need to load data again by passing, Header=None

In [4]:
df=pd.read_csv('sonar data.csv',header=None)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

## 3.Data Preprocessing

#### we can see the 60 columns are the Features and 61th columns is the output(categorical value)

In [6]:
df.shape

(208, 61)

#### we will no check whether our data are balanced data or imbalanced data

In [7]:
df[60].value_counts()

M    111
R     97
Name: 60, dtype: int64

#### Its a balanced data

#### Now grouping the data based on the above two classification,R-Rock & M-Mine

In [8]:
df.groupby(60).mean()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,,,,,,,,,,,,,,,,,,,,,
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022498,0.030303,0.035951,0.041447,0.062028,0.096224,0.114180,0.117596,0.137392,0.159325,...,0.012311,0.010453,0.009640,0.009518,0.008567,0.007430,0.007814,0.006677,0.007078,0.006024

#### Seperating Data and Labels

In [9]:
df1=df #creating a copy of Data for future use.

In [10]:
a=df.drop(columns=60,axis=0)
b=df[60]

In [11]:
a

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0125,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0033,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0241,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0156,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,0.0187,0.0346,0.0168,0.0177,0.0393,0.1630,0.2028,0.1694,0.2328,0.2684,...,0.0203,0.0116,0.0098,0.0199,0.0033,0.0101,0.0065,0.0115,0.0193,0.0157
204,0.0323,0.0101,0.0298,0.0564,0.0760,0.0958,0.0990,0.1018,0.1030,0.2154,...,0.0051,0.0061,0.0093,0.0135,0.0063,0.0063,0.0034,0.0032,0.0062,0.0067
205,0.0522,0.0437,0.0180,0.0292,0.0351,0.1171,0.1257,0.1178,0.1258,0.2529,...,0.0155,0.0160,0.0029,0.0051,0.0062,0.0089,0.0140,0.0138,0.0077,0.0031
206,0.0303,0.0353,0.0490,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0042,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048
207,0.0260,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.1400,0.1843,0.2354,...,0.0181,0.0146,0.0129,0.0047,0.0039,0.0061,0.0040,0.0036,0.0061,0.0115

In [12]:
b

0      R
1      R
2      R
3      R
4      R
      ..
203    M
204    M
205    M
206    M
207    M
Name: 60, Length: 208, dtype: object

## 4.Splitting the data into Test and Training Data

In [13]:
a_train,a_test,b_train,b_test=train_test_split(a,b,test_size=0.1,stratify=b,random_state=1)

In [14]:
a_train.shape

(187, 60)

In [15]:
a_test.shape

(21, 60)

In [16]:
b_train.shape

(187,)

In [17]:
b_test.shape

(21,)

## 5.Trained Models

#### Using Logistic Regression model

In [34]:
model=LogisticRegression()

In [35]:
model.fit(a_train,b_train)

LogisticRegression()

#### Our model is trained now we will check the accuracy of model.

In [36]:
a_train_prediction=model.predict(a_train)
a_train_accuracy=accuracy_score(a_train_prediction,b_train)
print('The accuracy of training data is :',a_train_accuracy*100)

The accuracy of training data is : 83.42245989304813

In [37]:
a_test_prediction=model.predict(a_test)
a_test_accuracy=accuracy_score(a_test_prediction,b_test)
print('The accuracy of test data is :',a_test_accuracy*100)

The accuracy of test data is : 76.19047619047619

The accuracy of test data is : 0.7619047619047619

## Our Model is working fine,Now i will try to build a predictive system which can detect rock or mine

In [24]:

    input_data=(0.0392,0.0108,0.0267,0.0257,0.0410,0.0491,0.1053,0.1690,0.2105,0.2471,0.2680,0.3049,0.2863,0.2294,0.1165,0.2127,0.2062,0.2222,0.3241,0.4330,0.5071,0.5944,0.7078,0.7641,0.8878,0.9711,0.9880,0.9812,0.9464,0.8542,0.6457,0.3397,0.3828,0.3204,0.1331,0.0440,0.1234,0.2030,0.1652,0.1043,0.1066,0.2110,0.2417,0.1631,0.0769,0.0723,0.0912,0.0812,0.0496,0.0101,0.0089,0.0083,0.0080,0.0026,0.0079,0.0042,0.0071,0.0044,0.0022,0.0014)
    input_data_Array=np.asarray(input_data)
    input_data_reshaped=input_data_Array.reshape(1,-1)
    predict=model.predict(input_data_reshaped)
    print(predict)
    if predict[0]=='R':
        print('Safe,Its just a  Rock')
    else:
        print('DANGER,its MINE')

['M']
DANGER,its MINE

### Naivs Bayes Model

In [25]:
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
gnb = GaussianNB()
gnb.fit(a_train, b_train)

GaussianNB()

In [26]:
a_pred_train = gnb.predict(a_train)
print("Gaussian Naive Bayes model training data  accuracy(in %):", metrics.accuracy_score(a_pred_train, b_train)*100)

a_pred_test = gnb.predict(a_test)
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(a_pred_test, b_test)*100)

Gaussian Naive Bayes model training data  accuracy(in %): 75.93582887700535
Gaussian Naive Bayes model accuracy(in %): 61.904761904761905

#### Here we can see that the accuraccy of Naive Bayes is way  less than the logistic one.So we will stick  to Logistic

In [27]:

    input_data=(0.0392,0.0108,0.0267,0.0257,0.0410,0.0491,0.1053,0.1690,0.2105,0.2471,0.2680,0.3049,0.2863,0.2294,0.1165,0.2127,0.2062,0.2222,0.3241,0.4330,0.5071,0.5944,0.7078,0.7641,0.8878,0.9711,0.9880,0.9812,0.9464,0.8542,0.6457,0.3397,0.3828,0.3204,0.1331,0.0440,0.1234,0.2030,0.1652,0.1043,0.1066,0.2110,0.2417,0.1631,0.0769,0.0723,0.0912,0.0812,0.0496,0.0101,0.0089,0.0083,0.0080,0.0026,0.0079,0.0042,0.0071,0.0044,0.0022,0.0014)
    input_data_Array=np.asarray(input_data)
    input_data_reshaped=input_data_Array.reshape(1,-1)
    predict=gnb.predict(input_data_reshaped)
    print(predict)
    if predict[0]=='R':
        print('Safe,Its just a  Rock')
    else:
        print('DANGER,its MINE')

['R']
Safe,Its just a  Rock

### Using KNN Model

In [28]:
from sklearn.neighbors import KNeighborsClassifier  
from sklearn import metrics
classifier= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )  
classifier.fit(a_train, b_train)

KNeighborsClassifier()

In [29]:
#Predicting the result  
a_pred_train= classifier.predict(a_train) 
print("KNN model accuracy of training data is (in %):", metrics.accuracy_score(b_train, a_pred_train)*100)

a_pred_test= classifier.predict(a_test) 
print("KNN model accuracy of test data is (in %):", metrics.accuracy_score(b_test, a_pred_test)*100)

KNN model accuracy of training data is (in %): 83.9572192513369
KNN model accuracy of test data is (in %): 80.95238095238095

In [30]:

    input_data=(0.0392,0.0108,0.0267,0.0257,0.0410,0.0491,0.1053,0.1690,0.2105,0.2471,0.2680,0.3049,0.2863,0.2294,0.1165,0.2127,0.2062,0.2222,0.3241,0.4330,0.5071,0.5944,0.7078,0.7641,0.8878,0.9711,0.9880,0.9812,0.9464,0.8542,0.6457,0.3397,0.3828,0.3204,0.1331,0.0440,0.1234,0.2030,0.1652,0.1043,0.1066,0.2110,0.2417,0.1631,0.0769,0.0723,0.0912,0.0812,0.0496,0.0101,0.0089,0.0083,0.0080,0.0026,0.0079,0.0042,0.0071,0.0044,0.0022,0.0014)
    input_data_Array=np.asarray(input_data)
    input_data_reshaped=input_data_Array.reshape(1,-1)
    predict=classifier.predict(input_data_reshaped)
    print(predict)
    if predict[0]=='R':
        print('Safe,Its just a  Rock')
    else:
        print('DANGER,its MINE')

['M']
DANGER,its MINE

### Using Decision tree

In [31]:
#Fitting Decision Tree classifier to the training set  
from sklearn.tree import DecisionTreeClassifier  
classifier= DecisionTreeClassifier(criterion='entropy', random_state=0)  
classifier.fit(a_train, b_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [32]:
#Predicting the result  
a_pred_train= classifier.predict(a_train)
print("Decision tree model accuracy of taining data is (in %):", metrics.accuracy_score(b_train, a_pred_train)*100)

a_pred_test= classifier.predict(a_test) 
print("Decision tree model accuracy of test data is (in %):", metrics.accuracy_score(b_test, a_pred_test)*100)

Decision tree model accuracy of taining data is (in %): 100.0
Decision tree model accuracy of test data is (in %): 66.66666666666666

In [33]:

    input_data=(0.0392,0.0108,0.0267,0.0257,0.0410,0.0491,0.1053,0.1690,0.2105,0.2471,0.2680,0.3049,0.2863,0.2294,0.1165,0.2127,0.2062,0.2222,0.3241,0.4330,0.5071,0.5944,0.7078,0.7641,0.8878,0.9711,0.9880,0.9812,0.9464,0.8542,0.6457,0.3397,0.3828,0.3204,0.1331,0.0440,0.1234,0.2030,0.1652,0.1043,0.1066,0.2110,0.2417,0.1631,0.0769,0.0723,0.0912,0.0812,0.0496,0.0101,0.0089,0.0083,0.0080,0.0026,0.0079,0.0042,0.0071,0.0044,0.0022,0.0014)
    input_data_Array=np.asarray(input_data)
    input_data_reshaped=input_data_Array.reshape(1,-1)
    predict=classifier.predict(input_data_reshaped)
    print(predict)
    if predict[0]=='R':
        print('Safe,Its just a  Rock')
    else:
        print('DANGER,its MINE')

['M']
DANGER,its MINE

## From the above models we can see that the accuracy rate of KNN model is maximum and NaiveBayes lowest.